/* TODO: Make it awesome */

body {
  /* width: 960px; */
  background-color: limegreen;
  margin: auto;
}

header {
  background-color: linen;
  min-height: 100px;
  text-align: center;

}

header > h1 {
  font-size: 40px;
  font-family: cursive;
}

section header{
  text-align: left;
}

section header > h1{
  font-size: 30px;
  margin: 10px;
}

header li {
  display: inline-block;
  font-size: 30px;
  margin: 10px;
  
}

nav > ul {
  float: right;
  margin: 10px 100px;
  
}

main ol {
  font-size: 15px;
  margin-left: 30px;
  
}

ol li {
  font-size: 20px;
  margin-top: 5px;
}

main {
  margin: 100px;
}

legend {
  display: none;
}

label {
  margin: 50px;
}

select {
  margin: 30px;
  font-size: 30px;
}

input {
  margin: 30px;
  font-size: 30px;
}

label > span {
  font-size: 30px;
}